In [29]:
import numpy as np
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:
df_energy=pd.read_csv ("global_data.csv")
df_energy_2=df_energy

df_energy_2.columns = [
    col.replace('$', 'dolar')
       .replace('%', 'perc')
    
    for col in df_energy_2.columns
]

In [31]:
df_energy_2.columns

Index(['Entity', 'Year', 'Access to electricity (perc of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US dolar)',
       'Renewable energy share in the total final energy consumption (perc)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (perc electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (perc equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [32]:
df_energy_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               3649 non-null   object
 1   Year                                                                 3649 non-null   int64
 2   Access to electricity (perc of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                    3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita                 2718 non-null   float64
 5   Financial flows to developing countries (US dolar)                   1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (perc)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                                  3628 non-null   float64
 8   Electricity from nuclear (TWh)                                       3523 non-null   float64
 9   Electricity from renewables (TWh)                                    3628 non-null   float64
 10  Low-carbon electricity (perc electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                   3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)      3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                    3221 non-null   float64
 14  Renewables (perc equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                           3332 non-null   float64
 16  gdp_per_capita                                                       3367 non-null   float64
 17  Density(P/Km2)                                                       3648 non-null   object
 18  Land Area(Km2)                                                       3648 non-null   float64
 19  Latitude                                                             3648 non-null   float64
 20  Longitude                                                            3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB

In [33]:
df_energy_2["Density(P/Km2)"].unique()

array(['60', '105', '18', '26', '223', '17', '104', '590', '3', '109',
       '123', '41', '2,239', '1,265', '668', '47', '383', '108', '1281',
       '20', '64', '4', '25', '76', '463', '95', '56', '274', '8', '13',
       '153', '46', '467', '100', '73', '106', '131', '136', '137', '43',
       '96', '225', '71', '103', '313', '50', '35', '31', '67', '115',
       '49', '119', nan, '9', '239', '57', '240', '81', '331', '167',
       '53', '70', '414', '89', '107', '464', '151', '93', '400', '206',
       '273', '347', '7', '94', '147', '34', '30', '667', '242', '48',
       '203', '99', '1,802', '1,380', '5', '626', '66', '2', '83', '40',
       '541', '508', '16', '55', '19', '226', '15', '287', '58', '368',
       '124', '111', '248', '84', '525', '205', '301', '284', '87', '214',
       '8,358', '114', '341', '219', '68', '152', '110', '393', '229',
       '75', '118', '281', '36', '79', '38'], dtype=object)

In [34]:
# He encontrado que la columna Density(P/Km2) es de tipo object porque tiene algunos numeros con ,
df_energy_2["Density(P/Km2)"] = df_energy_2["Density(P/Km2)"].str.replace(",", "", regex=False)

In [35]:
df_energy_2["Density(P/Km2)"].unique()

array(['60', '105', '18', '26', '223', '17', '104', '590', '3', '109',
       '123', '41', '2239', '1265', '668', '47', '383', '108', '1281',
       '20', '64', '4', '25', '76', '463', '95', '56', '274', '8', '13',
       '153', '46', '467', '100', '73', '106', '131', '136', '137', '43',
       '96', '225', '71', '103', '313', '50', '35', '31', '67', '115',
       '49', '119', nan, '9', '239', '57', '240', '81', '331', '167',
       '53', '70', '414', '89', '107', '464', '151', '93', '400', '206',
       '273', '347', '7', '94', '147', '34', '30', '667', '242', '48',
       '203', '99', '1802', '1380', '5', '626', '66', '2', '83', '40',
       '541', '508', '16', '55', '19', '226', '15', '287', '58', '368',
       '124', '111', '248', '84', '525', '205', '301', '284', '87', '214',
       '8358', '114', '341', '219', '68', '152', '110', '393', '229',
       '75', '118', '281', '36', '79', '38'], dtype=object)

### Soluci√≥n para Density(P/Km2)

In [36]:
print(type("Density(P/Km2)"))

<class 'str'>

In [37]:
df_energy_2["Density(P/Km2)"] = df_energy_2["Density(P/Km2)"].astype(float)

In [38]:
print(type("Density(P/Km2)"))
#Me parece que como tiene un Nan no lo pasa a float

<class 'str'>

In [39]:
#Busco en que pais est√° el Nan
df_nan_density = df_energy_2[df_energy_2["Density(P/Km2)"].isna()]

df_nan_density[["Entity", "Year", "Density(P/Km2)"]]

             Entity  Year  Density(P/Km2)
1218  French Guiana  2000             NaN

In [40]:
#Voy a ver que datos hay para French Guiana
df_energy_2[df_energy_2["Entity"] == "French Guiana"]

,Entity,Year,Access to electricity (perc of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US dolar),Renewable energy share in the total final energy consumption (perc),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/dolar2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (perc equivalent primary energy),gdp_growth,gdp_per_capita,Density(P/Km2),Land Area(Km2),Latitude,Longitude
1218,French Guiana,2000,NaN,NaN,702.29,NaN,23.84,0.43,0.0,0.0,...,13692.394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Como est√° bastante vacio decido quitarme este pais, toda la linea
df_energy_2 = df_energy_2[df_energy_2["Entity"] != "French Guiana"]

In [42]:
df_energy_2[df_energy_2["Entity"] == "French Guiana"]

Empty DataFrame
Columns: [Entity, Year, Access to electricity (perc of population), Access to clean fuels for cooking, Renewable-electricity-generating-capacity-per-capita, Financial flows to developing countries (US dolar), Renewable energy share in the total final energy consumption (perc), Electricity from fossil fuels (TWh), Electricity from nuclear (TWh), Electricity from renewables (TWh), Low-carbon electricity (perc electricity), Primary energy consumption per capita (kWh/person), Energy intensity level of primary energy (MJ/dolar2017 PPP GDP), Value_co2_emissions_kt_by_country, Renewables (perc equivalent primary energy), gdp_growth, gdp_per_capita, Density(P/Km2), Land Area(Km2), Latitude, Longitude]
Index: []

[0 rows x 21 columns]

In [43]:
df_energy_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3648 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               3648 non-null   object
 1   Year                                                                 3648 non-null   int64
 2   Access to electricity (perc of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                    3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita                 2717 non-null   float64
 5   Financial flows to developing countries (US dolar)                   1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (perc)  3454 non-null   float64
 7   Electricity from fossil fuels (TWh)                                  3627 non-null   float64
 8   Electricity from nuclear (TWh)                                       3522 non-null   float64
 9   Electricity from renewables (TWh)                                    3627 non-null   float64
 10  Low-carbon electricity (perc electricity)                            3606 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                   3648 non-null   float64
 12  Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)      3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                    3221 non-null   float64
 14  Renewables (perc equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                           3332 non-null   float64
 16  gdp_per_capita                                                       3367 non-null   float64
 17  Density(P/Km2)                                                       3648 non-null   float64
 18  Land Area(Km2)                                                       3648 non-null   float64
 19  Latitude                                                             3648 non-null   float64
 20  Longitude                                                            3648 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 627.0+ KB

In [44]:
#Me quedo con un pais menos y se me reducen las columnas con Nan

In [45]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                9
Access to clean fuels for cooking                                       168
Renewable-electricity-generating-capacity-per-capita                    931
Financial flows to developing countries (US dolar)                     2088
Renewable energy share in the total final energy consumption (perc)     194
Electricity from fossil fuels (TWh)                                      21
Electricity from nuclear (TWh)                                          126
Electricity from renewables (TWh)                                        21
Low-carbon electricity (perc electricity)                                42
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)         206
Value_co2_emissions_kt_by_country                                       427
Renewables (perc equivalent primary energy)                            2136
gdp_growth                                                              316
gdp_per_capita                                                          281
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Durante el analisis he visto que el a√±o 2020 tiene mucho NaN. quito este a√±o

In [46]:
# quito el a√±o 2020 de todos los paises de la primera tabla
df_energy_2 = df_energy_2[df_energy['Year'] != 2020]

C:\Users\leire\AppData\Local\Temp\ipykernel_8200\2337866052.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_energy_2 = df_energy_2[df_energy['Year'] != 2020]

In [47]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                9
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                     1914
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                      20
Electricity from nuclear (TWh)                                          120
Electricity from renewables (TWh)                                        20
Low-carbon electricity (perc electricity)                                40
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2033
gdp_growth                                                              300
gdp_per_capita                                                          265
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Soluci√≥n para Access to electricity (perc of population)

In [48]:
#Busco en que pais est√° el Nan
df_nan_density = df_energy_2[df_energy_2["Access to electricity (perc of population)"].isna()]

df_nan_density[["Entity", "Year", "Access to electricity (perc of population)"]]

             Entity  Year  Access to electricity (perc of population)
1408  Guinea-Bissau  2000                                         NaN
1409  Guinea-Bissau  2001                                         NaN
1891        Liberia  2000                                         NaN
1892        Liberia  2001                                         NaN
1893        Liberia  2002                                         NaN
1894        Liberia  2003                                         NaN
1895        Liberia  2004                                         NaN
1896        Liberia  2005                                         NaN
1897        Liberia  2006                                         NaN

En Guinea-Bissau, en el a√±o 2000, el acceso a la electricidad era de un 0% seg√∫n el Banco Mundial. Esto indica que, en ese a√±o, pr√°cticamente ninguna persona en Guinea-Bissau ten√≠a acceso a la electricidad. 

En 2000, el acceso a la electricidad en Liberia era muy limitado. La infraestructura energ√©tica del pa√≠s era principalmente la red el√©ctrica de Monrovia, con algunas l√≠neas de distribuci√≥n a los condados cercanos. Antes de la guerra civil, la infraestructura era limitada, y despu√©s de la guerra, se encontraba en un estado de deterioro.

In [49]:
#Estos datos los voy a susituir por 0
df_energy_2.loc[df_energy_2["Access to electricity (perc of population)"].isna(), "Access to electricity (perc of population)"] = 0

In [50]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                0
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                     1914
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                      20
Electricity from nuclear (TWh)                                          120
Electricity from renewables (TWh)                                        20
Low-carbon electricity (perc electricity)                                40
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2033
gdp_growth                                                              300
gdp_per_capita                                                          265
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Soluci√≥n para Access to clean fuels for cooking

In [51]:
#Busco en que paises est√° el Nan

df_energy_2[df_energy_2["Access to clean fuels for cooking"].isna()]["Entity"].drop_duplicates()

147              Aruba
399            Bermuda
504           Bulgaria
630     Cayman Islands
1849           Lebanon
1912             Libya
2346     New Caledonia
2682       Puerto Rico
Name: Entity, dtype: object

### Soluci√≥n para Electricity from nuclear (TWh)

In [52]:
df_energy_2[df_energy_2["Electricity from nuclear (TWh)"].isna()]["Entity"].drop_duplicates()

693            Chile
1555       Indonesia
1723      Kazakhstan
2017        Malaysia
2871    Saudi Arabia
3397          Tuvalu
Name: Entity, dtype: object

He mirado en internet y en estos paises la producci√≥n de energia en centrales nucleares es cero.
Pongo los NAN de esta columna a cero.

In [53]:
df_energy_2.loc[df_energy_2["Electricity from nuclear (TWh)"].isna(), "Electricity from nuclear (TWh)"] = 0

In [54]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                0
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                     1914
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                      20
Electricity from nuclear (TWh)                                            0
Electricity from renewables (TWh)                                        20
Low-carbon electricity (perc electricity)                                40
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2033
gdp_growth                                                              300
gdp_per_capita                                                          265
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Soluci√≥n para Tuvalu: Electricity from renewables (TWh) y Electricity from fossil fuels (TWh)

In [55]:
df_energy_2[df_energy_2["Electricity from renewables (TWh)"].isna()]["Entity"].drop_duplicates()

3397    Tuvalu
Name: Entity, dtype: object

Los NAN solo estan en Tuvalu.los pongo cero porque he enecontrado en internet que no tienen energias renovables.
Tuvalu genera electricidad principalmente a trav√©s de plantas de energ√≠a que utilizan di√©sel importado,
Como a este pais le faltan muchos datos, quito este pais.

In [56]:
df_energy_2 = df_energy_2[df_energy['Entity'] != 'Tuvalu']

C:\Users\leire\AppData\Local\Temp\ipykernel_8200\3496715368.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_energy_2 = df_energy_2[df_energy['Entity'] != 'Tuvalu']

In [57]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                0
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                     1904
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                       0
Electricity from nuclear (TWh)                                            0
Electricity from renewables (TWh)                                         0
Low-carbon electricity (perc electricity)                                20
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2013
gdp_growth                                                              300
gdp_per_capita                                                          265
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Financial flows to developing countries (US dolar) vemos cuales son los que estan a 0. Si son cero ver si tiene sentid0

In [58]:
df_energy_2[df_energy_2['Financial flows to developing countries (US dolar)'] == 0]

,Entity,Year,Access to electricity (perc of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US dolar),Renewable energy share in the total final energy consumption (perc),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/dolar2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (perc equivalent primary energy),gdp_growth,gdp_per_capita,Density(P/Km2),Land Area(Km2),Latitude,Longitude
53,Algeria,2011,98.888030,99.3,6.89,0.0,0.18,47.67,0.0,0.50,...,12710.54100,4.470000,120790.000900,0.235260,2.900000,5455.679403,18.0,2381741.0,28.033886,1.659626
382,Benin,2004,25.279833,1.7,0.06,0.0,60.69,0.08,0.0,0.00,...,1388.15400,5.150000,2650.000095,NaN,4.429685,798.744304,108.0,112622.0,9.307690,2.315834
657,Central African Republic,2006,7.805169,0.6,4.60,0.0,90.80,0.03,0.0,0.14,...,358.04587,7.590000,230.000004,NaN,4.771085,354.670863,8.0,622984.0,6.611111,20.939444
665,Central African Republic,2014,12.057397,0.6,4.29,0.0,94.82,0.00,0.0,0.17,...,238.23833,9.550000,129.999995,NaN,0.081071,424.449132,8.0,622984.0,6.611111,20.939444
667,Central African Republic,2016,13.533816,0.7,4.22,0.0,92.11,0.00,0.0,0.17,...,307.30530,9.120000,209.999993,NaN,4.750317,402.191645,8.0,622984.0,6.611111,20.939444
683,Chad,2011,8.980000,2.8,0.16,0.0,82.37,0.18,0.0,0.01,...,180.93430,4.080000,1100.000024,NaN,0.082870,984.736130,13.0,1284000.0,15.454166,18.732207
791,Congo,2014,43.432120,23.5,43.63,0.0,62.23,0.72,0.0,0.96,...,5931.76760,4.240000,NaN,NaN,NaN,NaN,18.0,2345409.0,-4.112800,13.728900
1035,El Salvador,2006,89.201470,69.4,120.36,0.0,34.76,2.11,0.0,3.49,...,6029.88200,3.980000,7239.999771,NaN,4.344813,2631.822739,313.0,21041.0,13.794185,-88.896530
1372,Guatemala,2006,83.730995,37.3,82.38,0.0,64.81,3.68,0.0,4.61,...,4242.91500,4.170000,11520.000460,NaN,5.351398,2251.087963,167.0,108889.0,15.783471,-90.230759
1458,Haiti,2008,36.041466,3.4,5.84,0.0,79.64,0.29,0.0,0.18,...,1075.17360,5.530000,2029.999971,NaN,2.658032,1086.938192,414.0,27750.0,18.971187,-72.285215
1781,Kiribati,2016,92.799614,6.5,25.43,0.0,46.49,0.03,0.0,0.00,...,2381.14160,5.280000,70.000000,NaN,5.137719,1584.738015,147.0,811.0,1.836898,-157.376832
1886,Lesotho,2016,35.071590,37.4,36.20,0.0,43.55,0.00,0.0,0.52,...,2142.45920,7.810000,689.999998,NaN,3.588365,1018.931093,71.0,30355.0,-29.609988,28.233608
2432,Nigeria,2002,44.632300,0.9,16.22,0.0,84.60,12.51,0.0,8.16,...,2047.17500,8.810000,92239.997860,NaN,15.329156,741.747494,226.0,923768.0,9.081999,8.675277
2541,Panama,2006,85.150795,84.1,253.08,0.0,22.09,2.28,0.0,3.58,...,22302.52100,2.100000,7489.999771,NaN,8.652466,5348.884253,58.0,75420.0,8.537981,-80.782127
2570,Papua New Guinea,2014,40.050490,8.5,39.57,0.0,56.82,2.53,0.0,1.49,...,2816.40160,5.590000,5889.999866,NaN,13.543771,2920.782986,20.0,462840.0,-6.314993,143.955550
2838,Samoa,2009,97.900000,25.9,67.86,0.0,43.28,0.06,0.0,0.05,...,6564.24000,3.560000,180.000007,NaN,-4.808274,3168.228207,70.0,2831.0,-13.759029,-172.104629
2845,Samoa,2016,99.623290,32.4,85.61,0.0,36.82,0.09,0.0,0.05,...,7356.92720,4.110000,300.000012,NaN,8.126249,4109.663228,70.0,2831.0,-13.759029,-172.104629
2853,Sao Tome and Principe,2003,53.678078,0.5,15.43,0.0,51.81,0.02,0.0,0.01,...,2237.82700,4.530000,70.000000,NaN,6.573477,678.737964,242.0,836.0,0.330192,6.733343
3180,Suriname,2014,94.337630,90.6,336.53,0.0,12.85,1.37,0.0,0.55,...,20081.72700,3.850000,2619.999886,NaN,0.255503,9471.922001,4.0,163820.0,3.919305,-56.027783
3288,Togo,2017,48.000000,8.0,8.98,0.0,77.73,0.56,0.0,0.21,...,1072.42850,8.260000,2069.999933,NaN,4.347748,830.745277,152.0,56785.0,8.619543,0.824782
3301,Tonga,2009,91.941750,57.6,1.15,0.0,1.82,0.05,0.0,0.00,...,5477.17770,3.670000,140.000001,NaN,-5.199109,3006.606344,147.0,747.0,-21.178986,-175.198242
3394,Turkmenistan,2018,100.000000,99.9,0.20,0.0,0.06,21.18,0.0,0.00,...,59849.83200,13.330000,73050.003050,0.007368,6.200000,6967.375043,13.0,488100.0,38.969719,59.556278
3528,Uruguay,2005,98.167145,100.0,466.81,0.0,41.32,0.90,0.0,6.66,...,14696.39000,2.600000,5420.000076,NaN,7.460132,5226.944100,20.0,176215.0,-32.522779,-55.765835
3529,Uruguay,2006,98.505424,100.0,466.30,0.0,37.60,1.87,0.0,3.60,...,13377.31250,2.700000,6329.999924,NaN,4.098577,5887.845162,20.0,176215.0,-32.522779,-55.765835
3588,Yemen,2002,51.487637,56.7,0.00,0.0,0.90,3.54,0.0,0.00,...,3320.32420,2.811401,NaN,NaN,NaN,NaN,56.0,527968.0,15.552727,48.516388

Si, tiene sentido. Asi que los NaN los pongo a cero

In [59]:
#Si los pusiera a cero
df_energy_2.loc[df_energy_2["Financial flows to developing countries (US dolar)"].isna(), "Financial flows to developing countries (US dolar)"] = 0

In [60]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                0
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                        0
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                       0
Electricity from nuclear (TWh)                                            0
Electricity from renewables (TWh)                                         0
Low-carbon electricity (perc electricity)                                20
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2013
gdp_growth                                                              300
gdp_per_capita                                                          265
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

### Vamos a ver donde estan los NaN en energy intensity y gpd per capita

In [61]:

#Busco en que paises est√° el Nan

df_energy_2[df_energy_2["Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)"].isna()]["Entity"].drop_duplicates()

1087          Eritrea
2346    New Caledonia
3098      South Sudan
3602            Yemen
Name: Entity, dtype: object

In [62]:
df_energy_2[df_energy_2["gdp_per_capita"].isna()]["Entity"].drop_duplicates()

0                            Afghanistan
166                                Aruba
231                              Bahamas
630                       Cayman Islands
777                                Congo
882                              Czechia
1008                               Egypt
1083                             Eritrea
1240                              Gambia
1807                          Kyrgyzstan
2283                               Nauru
2766               Saint Kitts and Nevis
2787                         Saint Lucia
2808    Saint Vincent and the Grenadines
2850               Sao Tome and Principe
2990                            Slovakia
3053                             Somalia
3098                         South Sudan
3586                               Yemen
Name: Entity, dtype: object

In [63]:
#grafico gdp_per_capita 
#Energy intensity level of primary energy (MJ/dolar2017 PPP GDP

In [64]:
# Busco en que pais est√° el Nan
df_gpd = df_energy_2[df_energy_2["gdp_per_capita"].isna()]

df_gpd[["Entity", "Year", "gdp_per_capita"]]

           Entity  Year  gdp_per_capita
0     Afghanistan  2000             NaN
1     Afghanistan  2001             NaN
166         Aruba  2019             NaN
231       Bahamas  2000             NaN
232       Bahamas  2001             NaN
...           ...   ...             ...
3601        Yemen  2015             NaN
3602        Yemen  2016             NaN
3603        Yemen  2017             NaN
3604        Yemen  2018             NaN
3605        Yemen  2019             NaN

[265 rows x 3 columns]

Los voy a rellenar con valores del a√±o anterior

In [65]:
df_energy_2[df_energy_2['Entity'] == 'Afghanistan'][['Entity', 'Year', 'gdp_per_capita']]

         Entity  Year  gdp_per_capita
0   Afghanistan  2000             NaN
1   Afghanistan  2001             NaN
2   Afghanistan  2002      179.426579
3   Afghanistan  2003      190.683814
4   Afghanistan  2004      211.382074
5   Afghanistan  2005      242.031313
6   Afghanistan  2006      263.733602
7   Afghanistan  2007      359.693158
8   Afghanistan  2008      364.663542
9   Afghanistan  2009      437.268740
10  Afghanistan  2010      543.306526
11  Afghanistan  2011      591.190030
12  Afghanistan  2012      638.845852
13  Afghanistan  2013      624.315454
14  Afghanistan  2014      614.223342
15  Afghanistan  2015      556.007221
16  Afghanistan  2016      512.012778
17  Afghanistan  2017      516.679862
18  Afghanistan  2018      485.668419
19  Afghanistan  2019      494.179350

In [66]:
df_energy_2['gdp_per_capita'] = (
    df_energy_2.groupby('Entity', group_keys=False)['gdp_per_capita']
    .apply(lambda x: x.bfill())
)

In [67]:
df_energy_2[df_energy_2['Entity'] == 'Afghanistan'][['Entity', 'Year', 'gdp_per_capita']]

         Entity  Year  gdp_per_capita
0   Afghanistan  2000      179.426579
1   Afghanistan  2001      179.426579
2   Afghanistan  2002      179.426579
3   Afghanistan  2003      190.683814
4   Afghanistan  2004      211.382074
5   Afghanistan  2005      242.031313
6   Afghanistan  2006      263.733602
7   Afghanistan  2007      359.693158
8   Afghanistan  2008      364.663542
9   Afghanistan  2009      437.268740
10  Afghanistan  2010      543.306526
11  Afghanistan  2011      591.190030
12  Afghanistan  2012      638.845852
13  Afghanistan  2013      624.315454
14  Afghanistan  2014      614.223342
15  Afghanistan  2015      556.007221
16  Afghanistan  2016      512.012778
17  Afghanistan  2017      516.679862
18  Afghanistan  2018      485.668419
19  Afghanistan  2019      494.179350

In [79]:
df_energy_2[df_energy_2["gdp_per_capita"].isna()]["Entity"].drop_duplicates()

166                                Aruba
231                              Bahamas
777                                Congo
882                              Czechia
1008                               Egypt
1083                             Eritrea
1240                              Gambia
1807                          Kyrgyzstan
2766               Saint Kitts and Nevis
2787                         Saint Lucia
2808    Saint Vincent and the Grenadines
2990                            Slovakia
3098                         South Sudan
3586                               Yemen
Name: Entity, dtype: object

In [80]:
df_energy_2['gdp_per_capita'] = (
    df_energy_2.groupby('Entity', group_keys=False)['gdp_per_capita']
    .apply(lambda x: x.bfill())
)

In [81]:
print(df_energy_2['gdp_per_capita'].isna().sum())

233

In [75]:
df_energy_2[df_energy_2['Entity'] == 'Aruba'][['Entity', 'Year', 'gdp_per_capita']]

    Entity  Year  gdp_per_capita
147  Aruba  2000     20617.75047
148  Aruba  2001     20670.36701
149  Aruba  2002     20436.88713
150  Aruba  2003     20833.97636
151  Aruba  2004     22568.37499
152  Aruba  2005     23300.73836
153  Aruba  2006     24046.22638
154  Aruba  2007     25834.11178
155  Aruba  2008     27083.63486
156  Aruba  2009     24631.18205
157  Aruba  2010     23513.52770
158  Aruba  2011     24985.01392
159  Aruba  2012     24712.49326
160  Aruba  2013     26441.61994
161  Aruba  2014     26893.01151
162  Aruba  2015     28396.90842
163  Aruba  2016     28452.17061
164  Aruba  2017     29350.80502
165  Aruba  2018     30253.27936
166  Aruba  2019             NaN

In [76]:
print(df_energy_2['gdp_per_capita'].isna().sum())

233

In [77]:
df_energy_2[df_energy_2["gdp_per_capita"].isna()]["Entity"].drop_duplicates()

166                                Aruba
231                              Bahamas
777                                Congo
882                              Czechia
1008                               Egypt
1083                             Eritrea
1240                              Gambia
1807                          Kyrgyzstan
2766               Saint Kitts and Nevis
2787                         Saint Lucia
2808    Saint Vincent and the Grenadines
2990                            Slovakia
3098                         South Sudan
3586                               Yemen
Name: Entity, dtype: object

In [82]:
df_energy_2[df_energy_2['Entity'] == 'Bahamas'][['Entity', 'Year', 'gdp_per_capita']]

      Entity  Year  gdp_per_capita
231  Bahamas  2000             NaN
232  Bahamas  2001             NaN
233  Bahamas  2002             NaN
234  Bahamas  2003             NaN
235  Bahamas  2004             NaN
236  Bahamas  2005             NaN
237  Bahamas  2006             NaN
238  Bahamas  2007             NaN
239  Bahamas  2008             NaN
240  Bahamas  2009             NaN
241  Bahamas  2010             NaN
242  Bahamas  2011             NaN
243  Bahamas  2012             NaN
244  Bahamas  2013             NaN
245  Bahamas  2014             NaN
246  Bahamas  2015             NaN
247  Bahamas  2016             NaN
248  Bahamas  2017             NaN
249  Bahamas  2018             NaN
250  Bahamas  2019             NaN

In [83]:
df_energy_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3453 entries, 0 to 3647
Data columns (total 21 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               3453 non-null   object
 1   Year                                                                 3453 non-null   int64
 2   Access to electricity (perc of population)                           3453 non-null   float64
 3   Access to clean fuels for cooking                                    3293 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita                 2567 non-null   float64
 5   Financial flows to developing countries (US dolar)                   3453 non-null   float64
 6   Renewable energy share in the total final energy consumption (perc)  3433 non-null   float64
 7   Electricity from fossil fuels (TWh)                                  3453 non-null   float64
 8   Electricity from nuclear (TWh)                                       3453 non-null   float64
 9   Electricity from renewables (TWh)                                    3453 non-null   float64
 10  Low-carbon electricity (perc electricity)                            3433 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                   3453 non-null   float64
 12  Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)      3421 non-null   float64
 13  Value_co2_emissions_kt_by_country                                    3201 non-null   float64
 14  Renewables (perc equivalent primary energy)                          1440 non-null   float64
 15  gdp_growth                                                           3153 non-null   float64
 16  gdp_per_capita                                                       3220 non-null   float64
 17  Density(P/Km2)                                                       3453 non-null   float64
 18  Land Area(Km2)                                                       3453 non-null   float64
 19  Latitude                                                             3453 non-null   float64
 20  Longitude                                                            3453 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 593.5+ KB

In [84]:
df_energy_2.isnull().sum()

Entity                                                                    0
Year                                                                      0
Access to electricity (perc of population)                                0
Access to clean fuels for cooking                                       160
Renewable-electricity-generating-capacity-per-capita                    886
Financial flows to developing countries (US dolar)                        0
Renewable energy share in the total final energy consumption (perc)      20
Electricity from fossil fuels (TWh)                                       0
Electricity from nuclear (TWh)                                            0
Electricity from renewables (TWh)                                         0
Low-carbon electricity (perc electricity)                                20
Primary energy consumption per capita (kWh/person)                        0
Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)          32
Value_co2_emissions_kt_by_country                                       252
Renewables (perc equivalent primary energy)                            2013
gdp_growth                                                              300
gdp_per_capita                                                          233
Density(P/Km2)                                                            0
Land Area(Km2)                                                            0
Latitude                                                                  0
Longitude                                                                 0
dtype: int64

In [85]:
df_energy_2.to_csv('primera_limpieza.csv', index=False)